@import '../../variables.scss';

.button {
    display: inline-block;
    background-color: purple;
    padding: 1rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    // font-family: $font-body;
}